.logo_container {
    text-align: center;
}

.container {
    /* border: solid 1px #ccc; */
    width: 500px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 28%;
    transform: translate(-50%);
    text-align: center;
}

.field {
    margin: 26px 0;
    position: relative;
}

.label {
    position: absolute;
    left: 135px;
    top: 14px;
    color: #aaa9a9;
    transition: 100ms;
    border: 2px solid white;
    background-color: white;
}

.input_field {
    padding: 17px 95px 17px 10px;
    border: solid 1px rgb(202, 202, 202);
    border-radius: 2px;
    text-align: start;
    outline: none;
    text-indent: 10px;
    background-color: transparent;
}

.help_text {
    color: red;
    margin: 2px 0 0 0;
    position: absolute;
    left: 120px;
    font-size: 11.5px;
    display: none;
}

.input_field:focus+.label {
    top: -9.5px;
    left: 125px;
    font-size: 14px;
    color: #10a37f;
}

.input_field:focus {
    border-color: #10a37f;
}

.sign_in_btn {
    padding: 20px 119px;
    border-radius: 3px;
    background-color: #10a37f;
    color: white;
    border: none;
    font-weight: bold;
}

.sign_in_btn:hover {
    cursor: pointer;
    background-color: #109372;
}

.sign_up_container {
    margin: 20px 0;
    font-size: 13px;
}

a {
    text-decoration: none;
    letter-spacing: -0.5px;
    color: #109372;
}